In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/ratings.csv')

In [3]:
df.describe()

             userId       movieId        rating     timestamp
count  2.775344e+07  2.775344e+07  2.775344e+07  2.775344e+07
mean   1.419420e+05  1.848800e+04  3.530445e+00  1.193122e+09
std    8.170740e+04  3.510263e+04  1.066353e+00  2.160482e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    7.117600e+04  1.097000e+03  3.000000e+00  9.986053e+08
50%    1.420220e+05  2.716000e+03  3.500000e+00  1.174256e+09
75%    2.124590e+05  7.150000e+03  4.000000e+00  1.422744e+09
max    2.832280e+05  1.938860e+05  5.000000e+00  1.537945e+09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 847.0 MB

In [5]:
df.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [6]:
df.drop(['timestamp'], axis=1, inplace=True)

In [7]:
df.rating.value_counts()

4.0    7394710
3.0    5515668
5.0    4071135
3.5    3404360
4.5    2373550
2.0    1850627
2.5    1373419
1.0     886233
0.5     442388
1.5     441354
Name: rating, dtype: int64

In [8]:
df['userId'].nunique()

283228

In [9]:
(df.groupby(['userId'])['movieId'].agg('count')<10).sum()

39570

In [10]:
df_10 = df.groupby(['userId'])['movieId'].agg('count')>=10
df_10 = df_10.reset_index()
df_10.head()

   userId  movieId
0       1     True
1       2     True
2       3     True
3       4     True
4       5     True

In [11]:
df_10.isna().sum()

userId     0
movieId    0
dtype: int64

In [12]:
df_with_filter = df.merge(df_10, on='userId', how='left')

In [13]:
df_with_filter.head()

   userId  movieId_x  rating  movieId_y
0       1        307     3.5       True
1       1        481     3.5       True
2       1       1091     1.5       True
3       1       1257     4.5       True
4       1       1449     4.5       True

In [14]:
df_filtered = df_with_filter[df_with_filter['movieId_y']==True]
df_filtered.head()

   userId  movieId_x  rating  movieId_y
0       1        307     3.5       True
1       1        481     3.5       True
2       1       1091     1.5       True
3       1       1257     4.5       True
4       1       1449     4.5       True

In [15]:
df_filtered['userId'].nunique() + 39570

283228

In [16]:
df_with_filter['userId'].nunique()

283228

In [17]:
df_with_filter['movieId_y'].value_counts()

True     27565774
False      187670
Name: movieId_y, dtype: int64

In [18]:
len(df_with_filter)

27753444

In [19]:
df_with_filter[df_with_filter['movieId_y'].isna()]

Empty DataFrame
Columns: [userId, movieId_x, rating, movieId_y]
Index: []

In [20]:
len(df_filtered)

27565774

In [21]:
df_filtered['userId'].nunique()

243658

In [22]:
df_filtered.drop(['movieId_y'], axis=1, inplace=True)
df_filtered.head()

/anaconda3/envs/FI_final_project/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

   userId  movieId_x  rating
0       1        307     3.5
1       1        481     3.5
2       1       1091     1.5
3       1       1257     4.5
4       1       1449     4.5

In [23]:
df_filtered.columns = ['userId', 'movieId', 'rating']
df_filtered.head()

   userId  movieId  rating
0       1      307     3.5
1       1      481     3.5
2       1     1091     1.5
3       1     1257     4.5
4       1     1449     4.5

In [24]:
df_filtered.to_csv('../data/processed/ratings_processed.csv')